<Template name="channel">
  {{#with channel}}
    <div id="channel-container">
      <div class="page-header">
        <h1>{{teamName}} - {{name}} <small><a href="{{pathFor 'home'}}">back</a></small></h1>
      </div>
      <div class="panel">
        <div class="panel-body">
          {{#each messages}}
            <div class="message">
              <div class="header">
                <strong class="primary-font">{{userName}}</strong>
                <small class="pull-right text-muted">{{formatTS ts}}</small>
              </div>
              <div class="content">
                {{text}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/with}}
</Template>
