<head>
  <title>slack-gateway</title>
</head>

<Template name="main">
  <div id="main-container" class="container-fluid">
    <ul class="nav nav-tabs">
      {{#each teams}}
        <li role="presentation" class="team-tab{{#if isActiveTeam this}} active{{/if}}"><a href="#">{{teamName}}</a></li>
      {{/each}}
      <li role="presentation" class="team-setup-tab{{#if isSetup}} active{{/if}}"><a href="#">Team Setup</a></li>
    </ul>

    {{#if activeTeam}}
      {{> team activeTeam}}
    {{else}}
      {{> teamSetup}}
    {{/if}}
  </div>
</Template>

<Template name="team">
  <div class="panel panel-default">
    <div class="panel-heading">{{teamName}}</div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th># Messages</th>
            <th>Last Message</th>
          </tr>
        </thead>
        <tbody>
          {{#each channels}}
            <tr class="channel-row">
              <td>{{type}}</td>
              <td>{{name}}</td>
              <td>
                {{#if messageCount}}
                  {{messageCount}}
                {{else}}
                  0
                {{/if}}
              </td>
              <td>{{formatTS lastMessageTS}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</Template>

<template name="teamSetup">
  <div class="panel panel-success">
    <div class="panel-heading">Team setup</div>
    <div class="panel-body">
      <p>List of auth token</p>
      <ul>
        {{#each teams}}
          <li>{{authToken}} [{{teamName}}]</li>
        {{/each}}
      </ul>
    </div>
    <div class="panel-footer">
      <form id="add-team-form" class="form-inline">
        <div class="input-group">
          <input type="text" name="authToken" class="form-control" placeholder="Auth Token">
        </div>
        <button type="submit" class="btn btn-default">Add</button>
      </form>
    </div>
  </div>
</template>
